.main__section--cart{
    position: fixed;
    top: -9vh;
    right: 0;
    z-index: 3;
    width: 400px;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--background-first-section);
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.333);
    padding: 5px 35px;
    transform: translateX(1000px);
    transition: transform 0.5s;
    border-radius: 20px;
}

.main__section--cartActive{
    transform: translateX(0px);
}

.main__section--cart > i {
    margin: 10px 0;
    align-self: flex-end;
    padding: 0;
    font-size: 2rem;
    transform: 0.4s;
    border-radius: 20px;
}

.main__section--cart > i:hover{
    cursor: pointer;
    transform: scale(1.3);
    border-radius: 20px;
}

.section__h2{
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    padding: 10px 0;
    margin: 0;
}

.section__ul--cart{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    margin: 10px 0;
    padding: 0 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
    border-radius: 20px;
}

.section__li--cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    background: var(--background-card);
    border-radius: 20px;
}

.section__img--cart{
    width: 40%;
    margin: 0;
}

.section__div--cart{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.section__h3--cart,
.section__h4--cart,
.section__p--cart{
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    padding: 0;
    margin: 0 20px 0 0;
    border-radius: 20px;
}

.section__p--cart{
    font-size: 0.9rem;
    border-radius: 20px;
}

.section__div--buttonsCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-radius: 20px;
}

.section__div--modifed{
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 20px;
}

.section__div--modifed{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.decrement, 
.increment,
.remove{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: var(--background-first-section);
    border: 1px solid rgba(0, 0, 0, 0.166);
    transition: transform 0.33s;
    border-radius: 20px;
}

.decrement:hover, 
.increment:hover,
.remove:hover{
    cursor: pointer;
    transform: scale(1.15);
}

.decrement:active, 
.increment:active,
.remove:active{
    cursor: pointer;
    transform: scale(0.85);
}

.quantity{
    font-weight: var(--font-weight-bold);

}

.section__div--total{
    display: flex;
    margin: 10px;
    padding: 0;
    justify-content: space-between;
}

.section__h2--total , .section__p--total{
    font-weight: var(--font-weight-medium);
    font-size: 1.1rem;

}

.section__p--total{
    font-weight: var(--font-weight-bold);
}

@media (max-width:750px){
    .main__section--cart{
        width: 100%;
    }
}

@media (max-width:550px){
    .section__li--cart{
        flex-direction: column;
    }
    .section__div--cart{
        width: 100%;
    }
    .section__img--cart{
        width: 80%;
    }
    .decrement, .increment, .remove{
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
    }
}


