.section__ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 5%;
  border-radius: 20px;
}

.ul__li--detail {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: auto;
  border-radius: 20px;
  padding: 0;
  margin: 0;
}

.ul__div--li {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  border-radius: 20px;
}

.ul__h1--div {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  border-radius: 20px;
  margin: 0
}

.ul__h2--div {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  border-radius: 20px;
  margin: 1em 0 0 0;
}

.ul__p--div {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  border-radius: 20px;
  margin: 3em 0 0 0;
}

.ul__img--div {
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 1em 0 2em 0;
  transition: transform 0.33s;
}

.ul__img--div:hover {
  transform: scale(1.05);
}

.ul__div--div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 20px;
  width: 80%;
  margin: 0;
}

.ul__h3--div,
.ul__h4--div {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  border-radius: 20px;
  margin: 0;
  padding: 0;
}

.ul__h4--div {
  font-size: 0.8rem;
  border-radius: 20px;
  margin: 0 10% 0 0;
}

.ul__div--buttons {
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 80%;
  border-radius: 20px;
  margin: 0.5em 0 0 0;
}

.div__button--sizes {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--background-first-section);
  transition: transform 0.33s;
  border-radius: 20px;
}

.div__button--active {
  background: var(--background-primal);
  color: var(--background-first-section);
  border: none;
  border-radius: 20px;
}

.div__button--sizes:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.div__button--sizes:active {
  transform: scale(0.9);
}

.ul__button--div {
  background: var(--background-primal);
  border: none;
  width: 300px;
  height: 40px;
  color: var(--background-first-section);
  margin: 4em 0;
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  transition: filter 0.33s, transform 0.33s;
  border-radius: 20px;
}

.ul__button--div:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

.ul__button--div:active {
  transform: scale(0.7);
}

.ul__figure {
  position: relative;
  display: flex;
  align-items: center;
  grid-column: 2/3;
  border-radius: 20px;
  width: 100%;
  margin: 5% 0;
}

.ul__figure::before {
  position: absolute;
  content: '';
  background: var(--background-primal);
  width: 65%;
  height: 45vw;
  max-height: 500px;
  z-index: -1;
  left: 28%;
  border-radius: 20px;
}

.ul__img--figure {
  margin: 0;
  width: 90%;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
  transition: filter 0.33s, transform 0.33s;
  border-radius: 20px;
}


.ul__img--figure:hover {
  filter: drop-shadow(5px 5px 5px var(--text-color-primary));
  transform: translate(5px, -5px);
  cursor: pointer;
  border-radius: 20px;
}

@media (max-width:1200px) {
  .ul__figure {
    margin: 10% 0;
  }
}

@media (max-width:1050px) {
  .ul__figure {
    margin: 25% 0;
  }
}

@media (max-width:950px) {
  .ul__h1--div {
    font-size: 2rem;
  }

  .ul__h2--div {
    font-size: 1.4rem;
    margin: 10px 0 0 0;
  }

  .ul__li--detail {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .ul__div--li {

    grid-column: 1/2;
    grid-row: 2/3;
  }

  .ul__figure {
    grid-column: 1/2;
    grid-row: 1/2
  }

  .ul__figure {
    align-self: flex-start;
    margin: 5% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ul__figure::before {
    width: 50%;
    height: 100%;
    left: 35%;
  }

  .ul__img--figure {
    transform: scale(80%);
  }

  .ul__div--div,
  .ul__div--buttons {
    width: 100%;
  }

  .ul__h4--div {
    margin: 0;
  }

  .ul__button--div {
    width: 100%;
    justify-content: center;
  }

  .ul__div--buttons {
    justify-content: center;
  }

}

@media (max-width:550px) {

  .ul__div--li {
    padding: 10px 0;
  }

  .ul__p--div {
    margin-top: 5px;
  }

  .ul__button--div {
    width: 90%;
    margin: 40px auto;
  }
}