.article__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  border-radius: 20px;
  row-gap: 30px;
  margin: 20px 0;
}

.ul__li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 230px;
  height: 380px;
  transition: box-shadow 0.33s, transform 0.33s;
  
}

.ul__img {
  width: 90%;
  transition: transform 0.33s;
}

.ul__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 0 5px;
  background-color: var(--background-card);
  width: 100%;
  height: 35%;
}

.ul__h2 {
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  width: 80%;
  position: relative;
}

.ul__h2::before,
.ul__h2::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--text-color-primary);
  position: absolute;
  border-radius: 50%;
  top: 105%;
  left: 0;
}

.ul__h2::after {
  background-color: var(--background-header);
  left: 30px;
}

.ul__h3 {
  font-weight: var(--font-weight-medium);
  align-self: flex-end;
}

.ul__li:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  transform: translateY(-10px);
}

.ul__li:hover .ul__img {
  transform: translatex(5px);
}